<div class="visible-elements-container">
  <div>
    <h2>
      <%= @status_message %>
    </h2>
  </div>

  <div class="game-grid">
    <%= for cell_num <- 0..8 do %>
      <div class="game-cell" phx-click="click_cell" phx-value-cell-num="<%= cell_num %>">
        <%= case Enum.at(@game.board, cell_num) do %>
          <% :empty -> %>
          <% :x -> %>X
          <% :o -> %>O
        <% end %>
      </div>
    <% end %>
  </div>
</div>
