.visible-elements-container {
  height: 95vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.status-message-container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.game-grid {
  flex: 0 2 auto;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 160px); /* 150 + 2*5 */
  grid-template-rows: repeat(3, 160px); /* 150 + 2*5 */
  background-color: black;
  height: 480px; /*3 * (150 + 2*5) */
  width: 480px; /*3 * (150 + 2*5) */
}

.game-cell {
  height: 150px;
  width: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.new-game-button-container {
  flex: 2 2 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.new-game-button {
  font-size: 200%;
}
