.visible-elements-container {
  height: 95vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.username-manager-container {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

label,
.username-chooser-btn {
  text-align: center;
}

input[type="text"] {
  margin: 0.5rem auto;
}

label,
input[type="text"] {
  display: block;
}

.status-message-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.game-grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 160px); /* 150 + 2*5 */
  grid-template-rows: repeat(3, 160px); /* 150 + 2*5 */
  background-color: black;
  height: 480px; /*3 * (150 + 2*5) */
  width: 480px; /*3 * (150 + 2*5) */
}

.game-cell {
  height: 150px;
  width: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.new-game-button-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.new-game-button {
  font-size: 200%;
}

.user-list-container {
  grid-row: 1 / 4;
  grid-column: 3 / 4;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.user-list {
  padding-inline-start: 0px;
}
